@import "tailwindcss";

@theme {
  --color-dark: #0f0f0f;
  --color-light: #f4f4f5;
  --color-primary: #3b82f6;
  --color-accent: #10b981;
}

@layer base {
  body {
    @apply bg-[#0f0f0f] text-light font-sans antialiased;
  }
}

.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}